/*
* =====================
* GENERAL
* =====================
*/

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 0.9rem;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.italic {
  font-style: italic;
}

section {
  padding: 150px 0;
}

@media (max-width: 767.98px) {
  section {
    padding: 50px 0;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 2;
  opacity: 0.6;
}

.heading {
  margin-bottom: 40px;
}

.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px 0 20px;
  background: #555;
}

.section-inverse {
  color: #fff;
  background: #333;
}

.section-inverse h1,
.section-inverse h2,
.section-inverse h3,
.section-inverse h4,
.section-inverse h5,
.section-inverse h6 {
  color: #fff;
}

.section-inverse .heading:after {
  background: #fff;
}

.box {
  margin-bottom: 30px;
}

/*
*
=====================
NAVBAR
=====================
*
*/

/* Style the navbar */
nav {
  overflow: hidden;
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 1px 0 #ddd;
  box-shadow: 0 1px 0 #ddd;
  width: 100%;
}

.navlinks  {
  height: 100%;
  padding-top: 1%;
  display: flex;
  list-style-type: none;
  color: rgb(78, 76, 76);
  font-size: 20px;
  font-style: italic;
  border-bottom: 1px solid transparent;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: rgb(78, 76, 76);
}

nav a:hover {
  color: rgb(78, 76, 76);
}

/* Navbar links */

/* Page content */
.content {
  padding: 50px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 50px;
}
/*
*
=====================
INTRO SECTION
=====================
*
*/
.intro {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #111;
  min-height: 600px;
  padding: 0;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  background-attachment: fixed;
}

.intro h1,
.intro h2,
.intro h3,
.intro p {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.intro h1 {
  font-size: 10vh;
}

.intro p {
  font-size: 4vh;
}

.content {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .content {
    position: relative;
    padding: 80px 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/*
*
=====================
SKILLS SECTION
=====================
*
*/

.about-container {
  display: flex;
}

.skills{
  flex: 1;
  width: 25%;
  margin: 2%;
}

.about {
  flex: 1;
  width: 25%;
  margin: 2%;
}

.about h1 {
  text-align: center;
  color: rgb(78, 76, 76);
}

.about p {
  text-align: center;
  font-size: 20px;
  color: rgb(97, 95, 95);
}

.skills h1 {
 text-align: center;
 color: rgb(78, 76, 76);
}



@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: rgb(99, 95, 95);
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 3s 0s;
  -webkit-animation: load 3s 0s;
  -moz-animation: load 3s 0s;
  -o-animation: load 3s 0s;
}

.bar.front::before{
  background-color: rgb(136, 131, 131);
}
.bar.back::before{
  background-color: rgb(194, 189, 189);
}

.bar.beginner::before{
  width: calc(10% - 20px);
}
.bar.basic::before{
  width: calc(25% - 20px);
}
.bar.intermediate::before{
  width: calc(50% - 20px);
}
.bar.advanced::before{
  width: calc(75% - 20px);
}
.bar.expert::before{
  width: calc(100% - 20px);
}

/*
*
=====================
CONTACT SECTION
=====================
*
*/
.contact-form {
  margin-bottom: 40px;
}

p.social {
  text-align: center;
  margin-top: 20px;
}

p.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  line-height: 38px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
}

p.social a i {
  vertical-align: bottom;
  line-height: 38px;
}

p.social a.facebook {
  background-color: #ccc;
}

p.social a.gplus {
  background-color: #333;
}

p.social a.twitter {
  background-color: #aaa;
}

p.social a.instagram {
  background-color: #999;
}

p.social a.email {
  background-color: #666;
}

