{% extends 'layout.html' %}
    {% block content %}
        <section class="header">
            <h1>About Me</h1>
            <p></p>

        </section>
        <section id="about-page">
            <img src="/static/img/my_headshot.jpg" alt="Headshot of myself">
            <h2>Background</h2>
            <p>
                Hi! My name is Justin Schroeder and I am a budding developer looking to transition into a career in tech. My background is in Automotive Manufacturing with 6 years of experience working for General Motors as a Quality Engineer. I currently live in Nashville, TN, but am willing to relocate or work remote!
            </p>
            <img src="/static/img/my_headshot.jpg" alt="Headshot of myself">
            <h2>Relevant Experience</h2>
            <p>
                I am currently enrolled in the Python Developer Techdegree with Treehouse! I have completed multiple Python projects through the course that taught me many development skills. For example, my first project was a Number Guessing Game that taught me the fundamentals of loops, conditionals, and error handling. I also built a Phrase Hunter Game using object oriented programming concepts and a Store Inventory Database using SQLAlchemy ORM.
            </p>
            <img src="/static/img/my_headshot.jpg" alt="Headshot of myself">
            <h2>Interests</h2>
            <p>
                In my free time, I love getting outdoors for a round of disc golf or a game of ultimate frisbee. I have actually played ultimate for around 12 years at many competitive levels from high school through college and even professionally! My other hobbies include snow skiing and video games with some of my long distance friends. When I am not doing any of those things, you're likely to find me and my girlfriend enjoying some craft beer and hanging out with our two adorable puppies, Stanley and Lilly!
            </p> 
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>
  {% endblock %}
