{% extends 'layout.html' %}
    {% block content %}
        <section class="header">
            <h1>Justin Schroeder</h1>
            <h2>Developer</h2>
            <p>
                Developer. Engineer. Skier. Disc Golfer. Dog Dad.
            </p>
            <p>
                <a href="{{ url_for('about') }}" style="text-decoration: underline;">More about me...</a>
            </p>
        </section>
        <section id="skills">
            <h2>Skills</h2>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>SQL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>GitHub</li>
                <li>Visual Studio Code</li>
            </ul>
        </section>
        <section id="projects">
            <h2>Projects</h2>
            {% for row in projects|batch(3) %}
            <div class="row">
                {% for project in row %}
                <div class="column">
                    <div class="card">
                    <a href="{{ url_for('project', id=project.id) }}">
                        <h5 class="date">{{ project.completed.strftime('%B %Y') }}</h5>
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.description }}</p>
                    </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
    {% endblock %}