<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Justin Schroeder's Portfolio</title>
        <meta name="description" content="A portfolio of my work">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="#intro" class="navbar-brand link-scroll"><img src="img/logo.png" alt="" class="img-fluid"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="#intro" class="nav-link link-scroll">Home</a></li>
              <li class="nav-item"><a href="#about" class="nav-link link-scroll">About </a></li>
              <li class="nav-item"><a href="#services" class="nav-link link-scroll">Services</a></li>
              <li class="nav-item"><a href="#portfolio" class="nav-link link-scroll">Portfolio</a></li>
              <li class="nav-item"><a href="#text" class="nav-link link-scroll">Text</a></li>
              <li class="nav-item"><a href="#contact" class="nav-link link-scroll">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
        {% block content %}
        {% endblock %}
        <section id="footer">
          <p>Contact me at <a href="mailto. justin.schroeder3@gmail.com">justin.schroeder3@gmail.com</a>.</p>
          <div class="socials"> 
              <a href="">
                  <i class="fab fa-linkedin"></i>
              </a>
              <a href="">
                  <i class="fab fa-github"></i>
              </a>
              <a href="">
                  <i class="fab fa-instagram"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter"></i>
            </a>
          </div>
      </section>
      <script src="" async defer></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>

</html>        